.list-view .content {
  display:flex;
}

.list-view .note-grid {
  flex: 2;
}

.list-view .wine-search-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width:1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .note-grid {
    display:none;
  }
}
